.mainWrapper {
  display: flex;
  min-height: 100vh;
  padding: 8px;
}
.mainWrapper > * {
  width: 100%;
}

.nav {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 8px;
}
.nav > div {
  background-color: var(--block-bg);
  border-radius: var(--block-border-radius);
  overflow: hidden;
  position: relative;
}
.nav ul {
  padding: 8px 12px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav ul li {
  padding: 4px 12px;
  display: flex;
  gap: 20px;
  height: 40px;
  align-items: center;
}
.nav ul li.promoBlock {
  flex-direction: column;
  height: auto;
  gap: 0;
  align-items: flex-start;
  padding: 16px 20px;
  background-color: var(--highlited-block-bg);
  color: var(--active-text-color);
  border-radius: var(--block-border-radius);
  margin: 8px 0;
}
.nav ul li.promoBlock h2 {
  margin-bottom: 8px;
  font-size: 16px;
}
.nav ul li.promoBlock p {
  font-size: 14px;
  margin-bottom: 20px;
}
.nav ul li svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.nav ul li .homeIconActive,
.nav ul li .searchIconActive {
  display: none;
}
.nav ul li:hover {
  color: var(--active-text-color);
}
.nav ul li:hover svg {
  fill: var(--active-text-color);
}
.nav ul li.active {
  color: var(--active-text-color);
}
.nav ul li.active .homeIcon,
.nav ul li.active .searchIcon {
  display: none;
}
.nav ul li.active .homeIconActive,
.nav ul li.active .searchIconActive {
  display: block;
}
.nav ul li.active svg {
  fill: var(--active-text-color);
}

.libraryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPlaylist {
  width: 32px;
  height: 32px;
  display: block;
  border: 0;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--block-bg);
}
.addPlaylist svg {
  fill: var(--text-color);
  width: 16px;
  height: 16px;
}
.addPlaylist:hover {
  background-color: var(--background-highlight);
}
.addPlaylist:hover svg {
  fill: var(--active-text-color);
}

.mainSection {
  background-color: var(--block-bg);
}

.pageHeader {
  position: sticky;
  top: 8px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 23px;
}

.navButtons {
  display: flex;
  gap: 8px;
}
.navButtons button {
  width: 32px;
  height: 32px;
  background-color: var(--page-bg);
}
.navButtons button svg {
  width: 16px;
  height: 16px;
  fill: var(--active-text-color);
}
.navButtons button:disabled svg {
  fill: var(--text-color);
}

.accountButtons {
  display: flex;
  align-items: center;
  gap: 32px;
}